
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="intro-text">
      <p>
      The world is faced with a threat unlike
      anything it’s ever seen before...
      </p>

      <p id="intro-identify">{{scenario.name}}</p>

      <p>
      It is your job to assemble a team of
      experts to neutralize this threat.
      </p>

      <p>
      Should you succeed, you will be a hero.
      But if you fail... we are all doomed.
      </p>

      <div id="continue-button">
        CONTINUE
      </div>

    </div>
  </div>
</div>

