<!-- <div ng-repeat="hero in heroes">
  {{hero.id}} | {{hero.name}}
</div> -->

<!--  Main Page Container -->
<div class="container index-page">
  <div class="row">
    <div class="col-md-12">
      <h1>SELECT YOUR TEAM</h1>
    </div>
    <div class="col-md-8">
    <!-- Row for Team and Selection -->
        <div class="row small">
          <div class="col-md-offset-2 col-md-8 team">
            <div class="team-box">
              <div class="hero-box" ng-repeat="teamMember in team" style="background-image: url(./images/{{teamMember.id}}.jpg)" ng-click="removeHero(teamMember.id)"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div ng-repeat="hero in heroes" class="hero-holders">
              <a href="#/show/{{hero.id}}">
                <div class="hero-box select" style="background-image: url(./images/{{hero.id}}.jpg)" >
                </div>
              </a>

            </div>
          </div>
        </div>

    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="team-stats">
          <span id="stats-header">Team Stats</span>
          <span class="stats">Strength: {{teamStrength}}%</span>
          <span class="stats">Intellect: {{teamIntellect}}%</span>
          <span class="stats">Agility: {{teamAgility}}%</span>
          <span class="stats">Dexterity: {{teamDexterity}}%</span>
        </div>
      </div>
      <div class="row">
        <div class="start-box">
          START
        </div>
      </div>
    </div>
  </div>
</div>
