@import "../_colors";

.endgame {
  border: 3px solid $primary-pink;
  background-color: $opaque-black;
  font-size: 2.2rem;
  padding: 3rem, 3rem, 1rem, 3rem;
  span {
    color: $primary-green;
    &#playAgain {
      a {
        color: white;
        font-size: 3rem;
        text-decoration: none;
        &:hover {
          color: $light-blue;
        }
        &:active {
          color: $primary-pink;
        }
      }

    }
  }
  #hero1 {
    color: $primary-pink;
  }
  #hero2 {
    color: $primary-purple;
  }
  #hero3 {
    color: $primary-blue;
  }
  #hero4 {
    color: $light-blue;
  }
}
